/*banner*/
.banner {
    width: 100vw;
    height: 25vw;
}
.banner img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
/*main*/
.main {
    margin-top: 5.4vw;
}
.list1 li {
    width: 25vw;
    text-align: center;
}
.list1 a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.list1 .img {
    width: 13.4vw;
    height: 13.4vw;
    margin: 0 auto 1.6vw;
}
.list1 .img img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.list1 .title,.list2 .title {
    font-size: .4rem;
    font-family: "Microsoft YaHei";
    color: #000;
}
.list1 .content,.list2 .content {
    color: #666;
    font-size: .32rem;
    font-family: "Microsoft YaHei";
}
.banner1 {
    width: 96vw;
    height: 18.2vw;
    margin: 4vw auto;
}
.banner1 img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.list2 {
    padding: 0 3vw;
}
.list2 li {
    width: 46.8vw;
    padding: 3vw 2vw;
    border-bottom: 1px solid #d9d9d9;
}
.list2 li:nth-of-type(n+3) {
    border-bottom: 0;
}
.list2 li a {
    width: 100%;
    height: 100%;
    display: flex;
    /*border-right: 1px solid #d9d9d9;*/
    position: relative;
    justify-content: space-around;
}
.list2 li a::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #d9d9d9;
    position: absolute;
    right: -1.6vw;
    top: 0;
}
.list2 li:nth-of-type(2n) a {
    border-right: 0;
}
.list2 li:nth-of-type(2n) a::after {
    display: none;
}
.list2 li .img {
    display: inline-block;
    width: 46%;
    height: 100%;
    text-align: center;
}
.list2 li .img img {
    width: 10.8vw;
    height: 10.8vw;
    display: inline-block;
    margin: 1.2vw auto;
}
.list2 li .notes {
    width: 54%;
    margin-left: -1.6vw;
    display: inline-flex;
    flex-direction: column ;
    justify-content: space-around;
    /*padding: 2.4vw 0;*/
}
.list2 li .notes .content {
    /*margin-top: 1.6vw;*/
}
/*newsLists*/
.h1 {
    width: 100vw;
    height: 1.2vw;
    background-color: #d9d9d9;
    margin-top: 0;
}
.newsLists {
    margin-top: 1.6vw;
}
.newsLists .list {
    display: block;
    width: 100%;
    padding-left: 3.2vw;
    padding-right: 3.2vw;
    border-bottom: 1px solid #f1f1f1;
    color: #666666;
    position: relative;
}
.newsLists .list .fr .title {
    color: #333333;
    font-size: .37rem;
    width: 100%;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.newsLists .list .fl img {
    width: 25vw;
    height: 19vw;
    margin-top: 2.6vw;
    margin-bottom: 2.6vw;
    border-radius: 2vw;
    overflow: hidden;
    display: inline-block;
}
.newsLists .list .right {
    width: 65.3vw;
    height: 19vw;
    margin-top: 2.6vw;
    margin-left: 3.2vw;
    position: relative;
}
.newsLists .list .time {
    width: 65.3vw;
    font-size: .32rem;
    position: absolute;
    bottom: 0;
    /*line-height: 1.2rem;*/
}
.newsLists .list .fl .type{
    position: absolute;
    bottom: 4vw;
    left: 3.2vw;
    width: 25vw;
    text-align: center;
    /*color: #fff;*/
    font-size: .32rem;
    color: #fff;
}

