{extend name="public/common"}
{block name="style"}
<link rel="stylesheet" href="/home/css/list/graphic-list.css">
<style>
    .banner{
        height:50vw;
    }
    .banner img{
        position: relative;
        z-index: 99;
        width: 100%;
        height:50vw;
    }
    .notice a p:nth-child(1){
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        margin-bottom: 1vw;
        color: #000;
        font-weight: bold;
    }
    .notice a p:nth-child(2){
        margin-bottom: 10vw;
        color: #666;
    }
    .notice a span:nth-child(4){
        position: inherit;
        float: right;
    }
    .list ul a{
        clear: both;
    }
    .more{
        display: block;
        width:100%;
        font-size: 0.32rem;
        color: #f00;
        padding:3vw;
    }
    .meeting .more{
        color: #090;
    }
    .party .more{
        color: #e49643;
    }
    .more span:last-child{
        float: right;
    }
    .default{
        text-align: center;
        position: absolute;
        height: 100vh;
        width: 100%;
    }
    .default img{
        width: 18vw;
        position:absolute;
        top:40%;
        left:50%;
        margin-top:-1.2rem;
        border-radius: 5px;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        transform:translate(-50%,-50%);
    }

    #tab{
        height:1.2rem;
        position: absolute;
        top:50vw;
        z-index: 9;
        background: #efefef;
    }
    #tab a{
        font-size: 0.4rem;
        line-height: 1.2rem;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span{
        border-bottom: 0.08rem solid #e51c23;
        display: inline-block;
    }
    .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
        color: #e51c23;
    }
    #refreshContainer{
        top:calc(50vw + 1.2rem);
    }
</style>

{/block}

{block name="body"}
<div class="banner">
    <img src="/home/images/common/1.jpg">
</div>

<div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
    <a class="mui-control-item" href="#item1mobile" data-index="0">
        <span>三会一课</span>
    </a>
    <a class="mui-control-item" href="#item2mobile" data-index="1">
        <span>组织生活</span>
    </a>
</div>



<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">

        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content">
                {if condition="$notice eq null && $meeting eq null && $party eq null"}
                    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
                {else/}
                {notempty name="notice"}
                <!--相关通知-->
                <div class="notice">
                    <a class="more" href="{:Url('Organization/noticemore?type=1')}">
                        <span>相关通知</span>
                        <span>更多</span>
                    </a>
                    <div class="list">
                        <ul>
                            {volist name="notice" id="no"}
                                <a href="{:Url('Organization/noticedetail?id='.$no['id'])}">
                                    <p style="font-size: 0.4rem;">{$no.title}</p>
                                    <p style="font-size: 0.36rem;">{$no.description}</p>
                                    <span>{$no.create_time}</span>
                                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                </a>
                            {/volist}
                        </ul>
                    </div>
                </div>
                {/notempty}
                {notempty name="meeting"}
                <!--会议情况-->
                <div class="meeting">
                    <a class="more" href="{:Url('Organization/meetingmore?type=2')}">
                        <span>会议情况</span>
                        <span>更多</span>
                    </a>
                    <div class="list">
                        <ul>
                            {volist name="meeting" id="mee"}
                                <a href="{:Url('Organization/meetingdetail?type=2&id='.$mee['id'])}">
                                    <img src="{$mee.front_cover}">
                                    <p>{$mee.title}</p>
                                    <span>{$mee.create_time}</span>
                                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                </a>
                            {/volist}
                        </ul>
                    </div>
                </div>
                {/notempty}
                {notempty name="party"}
                <!--党课情况-->
                <div class="party">
                    <a class="more" href="{:Url('Organization/meetingmore?type=3')}">
                        <span>党课情况</span>
                        <span>更多</span>
                    </a>
                    <div class="list">
                        <ul>
                            {volist name="party" id="pa"}
                                <a href="{:Url('Organization/meetingdetail?type=3&id='.$pa['id'])}">
                                    <img src="{$pa.front_cover}">
                                    <p>{$pa.title}</p>
                                    <span>{$pa.create_time}</span>
                                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                </a>
                            {/volist}
                        </ul>
                    </div>
                </div>
                {/notempty}
                {/if}
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
                {if condition="$planing eq null && $activity eq null"}
                {else/}
                {notempty name="planing"}
                <!--相关通知-->
                <div class="notice">
                    <a class="more" href="{:Url('Organization/noticemore?type=4')}">
                        <span>活动招募</span>
                        <span>更多</span>
                    </a>
                    <div class="list">
                        <ul>
                            {volist name="planing" id="re"}
                                <a href="">
                                    <p style="font-size: 0.4rem;">{$re.title}</p>
                                    <p style="font-size: 0.36rem;">{$re.description}</p>
                                    <span>{$re.create_time}</span>
                                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                </a>
                            {/volist}
                        </ul>
                    </div>
                </div>
                {/notempty}
                {notempty name="activity"}
                <!--会议情况-->
                <div class="meeting">
                    <a class="more" href="{:Url('Organization/meetingmore?type=5')}">
                        <span>活动情况</span>
                        <span>更多</span>
                    </a>
                    <div class="list">
                        <ul>
                            {volist name="activity" id="ac"}
                                <a href="">
                                    <img src="{$ac.front_cover}">
                                    <p>{$ac.title}</p>
                                    <span>{$ac.create_time}</span>
                                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                </a>
                            {/volist}
                        </ul>
                    </div>
                </div>
                {/notempty}
                {/if}
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    $(function(){
        $("title").text("组织建设");
        c  = getCookie("c")?getCookie("c"):0;
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');
    })

    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        c = this.getAttribute("data-index");
        setCookie("c",c)
    })

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    function loadScroll(){
        mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
    }

    mui("#refreshContainer").on("tap","a",function(){
        var url = this.getAttribute("href");
        window.location.href = url;
    })
</script>
{/block}