{extend name="public/common"}
{block name="style"}
<link rel="stylesheet" href="/home/css/list/graphic-list.css">
<title></title>
<style>
    .list{
        padding-bottom: 0.5rem;
    }
    .mui-pull-bottom-pocket{
        bottom:0;
    }
</style>
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <!--活动通知-->
        <div class="list">
            <ul>
                {volist name="list" id="lo"}
                <a href="{:Url('Lesson/meetingdetail?id='.$lo['id'])}">
                    <img src="{$lo.front_cover}">
                    <p>{$lo.title}</p>
                    <span>{$lo.publisher}</span>
                    <span>{$lo.create_time}</span>
                </a>
                {/volist}
            </ul>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var c =  parseInt(window.location.href.split("type/")[1]);
    if(c==2){
        $("title").text("会议情况");
    }else if(c==3){
        $("title").text("党课情况");
    }
    window.onload = function() {
        if ($(".list ul a").length < 10) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
        var len = $(".list ul a").length;
        var type = "{$type}";
        $.ajax({
            type:"post",
            url: "{:Url('Lesson/more')}",
            data:{
                type:type,
                length:len
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data);
                    var dataLen =data.data.length;
                    if(data.data.length == 10){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    function addLists(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html +=
                    '<a href="/home/Lesson/meetingdetail/id/'+list.id+'.html">'+
                    '<img src="'+list.front_cover+'">'+
                    '<p>'+list.title+'</p>'+
                    '<span>'+list.publisher+'</span>'+
                    '<span>'+list.create_time+'</span>'+
                    '</a>'
        }
        $('.list ul').append(html);
    }

    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href")+"/type/"+c;
        window.location.href = url;
    })
</script>
{/block}