{extend name="public/common"}
{block name="style"}
<link rel="stylesheet" href="/home/css/list/graphic-list.css">
<title>组织建设</title>
<style>
    .list a p:nth-child(1){
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        margin-bottom: 1vw;
        color: #000;
        font-weight: bold;
    }
    .list a p:nth-child(2){
        margin-bottom: 0;
        color: #666;
        height: 1rem;
    }
    .list a span:nth-child(4){
        position: inherit;
        float: right;
    }
    .list{
        padding-bottom: 0.5rem;
    }
    .mui-pull-bottom-pocket{
        bottom:0;
    }
    .list ul a span:nth-child(3){
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 45%;
        position: relative;
        top: 2vw;
    }
</style>

{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
            <!--活动通知-->
            <div class="list">
                <ul>
                    {volist name="list" id="lo"}
                    <a href="{:Url('Organization/noticedetail?id='.$lo['id'])}">
                        <p style="font-size: 0.4rem;">{$lo.title}</p>
                        <p style="font-size: 0.36rem;">{$lo.description} </p>
                        <span>{$lo.create_time}</span>
                        <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    </a>
                    {/volist}
                </ul>
            </div>
        </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var c =  parseInt(window.location.href.split("type/")[1]);
    if(c==1){
        $("title").text("相关通知");
    }else if(c==4){
        $("title").text("活动招募");
    }
    window.onload = function() {
            if ($(".list ul a").length < 10) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
        var len = $(".list ul a").length;
        var type = "{$type}";
        $.ajax({
            type:"post",
            url: "{:Url('Organization/more')}",
            data:{
                type:type,
                length:len
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data);
                    var dataLen =data.data.length;
                    if(data.data.length == 10){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    function addLists(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
                html +=
                      '<a href="/home/Organization/noticedetail/id/'+list.id+'.html">'+
                      '<p>'+list.title+'</p>'+
                      '<p>'+list.description+'</p>'+
                      '<span>'+list.create_time+'</span>'+
                      '<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>'+
                      '</a>'
        }
            $('.list ul').append(html);
    }

    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    })

    mui("#refreshContainer").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });
</script>
{/block}