{extend name="public/common"}
{block name="style"}
<link rel="stylesheet" href="/home/css/list/graphic-list.css">
<title>相关通知</title>
<style>
    .list a p:nth-child(1){
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        margin-bottom: 1vw;
        color: #000;
        font-weight: bold;
    }
    .list a p:nth-child(2){
        margin-bottom: 10vw;
        color: #666;
    }
    .list a span:nth-child(4){
        position: inherit;
        float: right;
    }
    .list{
        padding-bottom: 0.5rem;
    }
    .mui-pull-bottom-pocket{
        bottom:0;
    }
</style>

{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
            <!--活动通知-->
            <div class="list">
                <ul>
                    {volist name="list" id="lo"}
                    <a href="{:Url('Lesson/noticedetail?id='.$lo['id'])}">
                        <p style="font-size: 0.4rem;">{$lo.title}</p>
                        <p style="font-size: 0.36rem;">{$lo.description} </p>
                        {eq name="$lo.is_over" value="1"}
                        <span style="color:red">已结束</span>
                        {else/}
                        <span style="color: #090;">进行中</span>
                        {/eq}
                        <span>{$lo.create_time}</span>
                    </a>
                    {/volist}
                </ul>
            </div>
        </div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    window.onload = function() {
            if ($(".list ul a").length < 10) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    //上拉加载更多
    function loadScroll(){
            var len = $(".list ul a").length;
        $.ajax({
            type:"post",
            url: "{:Url('Lesson/more')}",
            data:{
                type:1,
                length:len
            },
            beforeSend: function(XMLHttpRequest){

            },
            success:function(data){
                if(data.code == 1){
                    addLists(data);
                    var dataLen =data.data.length;
                    if(data.data.length == 10){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    function addLists(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
                html +=
                      '<a href="/home/Lesson/noticedetail/id/'+list.id+'.html">'+
                      '<p>'+list.title+'</p>'+
                      '<p>'+list.description+'</p>'
                   if(list.is_over==1){
                       html +=  '<span style="color:red">已结束</span>'
                   }else{
                       html += '<span style="color: #090;">进行中</span>'
                   }
                html +=
                    '<span>'+list.create_time+'</span>'+
                    '</a>'
        }
            $('.list ul').append(html);
    }

    mui('#refreshContainer').on('tap', 'a', function(e) {
        var url = this.getAttribute("href");
        window.location.href = url;
    })
</script>
{/block}