{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/profile/index.css">
<style>


</style>


{/block}

{block name="body"}
<div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
    <a class="mui-control-item" href="#item1mobile" data-index="0">
        <span>小镇概况</span>
    </a>
    <a class="mui-control-item" href="#item2mobile" data-index="1">
        <span>第一聚焦</span>
    </a>
    <a class="mui-control-item" href="#item3mobile" data-index="2">
        <span>最多跑一次</span>
    </a>
</div>
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content">
                <div class="banner">
                    <img src="/home/images/common/1.jpg">
                </div>
                <div class="box">
                    <p>和孚镇位于湖州南郊，属湖州市南浔区管辖，面积95平方公里，截至2004年，人口5.7万人。和孚镇东邻龙头山，南濒和孚漾，西依龙溪港，湖山相映，具有江南水乡平原地区难得的自然环境优势，素有“丝绸之府、鱼米之乡”之美誉。</p>
                    <p>地理位置优越，交通便利。南距杭州80公里，东接上海150公里，北临318国道，东接320国道，湖盐公路、菱湖公路，黄金水道、杭、锡航线穿镇而过。长湖申线航道、申嘉湖高速公路、乍湖铁路均经过城镇。</p>
                    <div class="map">网格地图</div>
                </div>

            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content">
                <!--第一聚焦-->

                <!--轮播-->
                <div class="banners">
                    <div class="swiper-container">
                        <div class="imgs swiper-wrapper">
                            <div class="banner swiper-slide">
                                <a href="">
                                    <img src="/home/images/common/1.jpg" alt="">
                                    <div class="title_ limit">的点点滴滴多多多多多多多多多多多多多多多多</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--列表-->
                <div class="list focus">
                    <ul>
                    <a href="">
                        <img src="/home/images/common/1.jpg">
                        <p>的点点滴滴多多多多多多多多多多多多多多多多多多多多多多多多多多</p>
                        <span>威风</span>
                        <span>2017-10-26</span>
                    </a>
                    </ul>
                </div>
            </div>

            <!--最多跑一次-->
            <div id="item3mobile" class="mui-slider-item mui-control-content">
                <div class="banner">
                    <img src="/home/images/common/1.jpg">
                </div>
                <div class="list onetime">
                    <ul>
                        <a href="">
                            <p>的点点滴滴多多多多多多多多多多多多多多多多多多</p>
                            <span>2017-10-26</span>
                            <span></span>
                        </a>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="/home/js/reset.js"></script>
<script>
    var win_w = $(window).width();
    var c =0;
    $(function(){
        $("title").text("通知公告");
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');
    })

    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 3000,
        loop:true,
        autoplayDisableOnInteraction:false,
        observer:true,//修改swiper自己或子元素时，自动初始化swiper
        observeParents:true,//修改swiper的父元素时，自动初始化swiper
    });




    window.onload = function() {
        if(c==0){
            if ($(".notice a").length < 10) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if ($(".dynamic a").length < 10) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
    }

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    function loadScroll(){
        if(c==0){
            var len = $(".notice a").length;
        }else if(c==1){
            var len = $(".dynamic a").length;
        }
        $.ajax({
            type:"post",
            url:"{:Url('Notice/more')}",
            data:{
                length:len,
                type:c
            },
            beforeSend: function(XMLHttpRequest){
            },
            success:function(data){
                addCourse(data,c);
                if(data.code == 1){
                    var dataLen =data.data.length;
                    if(data.data.length == 10){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }
    function addCourse(data,type) {
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for (var i = 0; i < len; i++) {
            var list = lists[i];
            if (type == 0 ){
                html +=
                        '<a href="/home/Notice/detail/id/'+list.id+'" class="list">'
            }else if(type==1){
                html +=
                        '<a href="/home/Notice/dynamicdetail/id/'+list.id+'" class="list">'
            }
            html+=
                    '<img src="'+list.front_cover+'" alt="图片" class="img">'+
                    '<div class="s_title">'+list.title+'</div>'+
                    '<div class="sent_detail">'+
                    '<span class="tissue">'+list.publisher+'</span>'+
                    '<span class="time">'+list.create_time+'</span>'+
                    '</div>'+
                    '<div class="footer">'+
                    '<div class="scan">'+
                    '<img src="/home/images/notice/scan2.png">'+
                    '<span>'+list.views+'</span>'+
                    '</div>'+
                    '<div class="talk">'+
                    '<img src="/home/images/notice/talk2.png">'+
                    '<span>'+list.comments+'</span>'+
                    '</div>'+
                    '</div>'+
                    '</a>';
        }
        if (type == 0) {
            $(".notice").append(html);
        } else if (type == 1) {
            $(".dynamic").append(html);
        }
    }


    //tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        mui('#refreshContainer').pullRefresh().refresh(true);
        c = this.getAttribute("data-index");
        if(c==0){
            if($(".notice a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c==1){
            if($(".dynamic a").length<10){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
    })



    mui("#refreshContainer").on("tap","a",function(){
        var url = this.getAttribute("href");
        window.location.href = url;
    })


</script>
{/block}