{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/index/index.css">
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="mui-slider-group">
            <div class="banner"><img src="/home/images/index/banner1.png" alt=""></div>
            <div class="main">
                <div class="list1 clearfix">
                    <div class="swiper-container1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <ul>
                                    <li class="fl clearfix">
                                        <a href="/home/structure/index.html">
                                            <div class="img"><img src="/home/images/index/01.png" alt=""></div>
                                            <div class="title">云上组织</div>
                                            <div class="content">党组织架构</div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="javascript:;">
                                            <div class="img"><img src="/home/images/index/02.png" alt=""></div>
                                            <div class="title">小镇概况</div>
                                            <div class="content">和孚镇简介</div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="/home/learn/index.html">
                                            <div class="img"><img src="/home/images/index/03.png" alt=""></div>
                                            <div class="title">两学一做</div>
                                            <div class="content">“学”与“做”</div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="/home/organization/video.html">
                                            <div class="img"><img src="/home/images/index/04.png" alt=""></div>
                                            <div class="title">组织建设</div>
                                            <div class="content">生活与学习</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner1"><img src="/home/images/index/banner2.png" alt=""></div>
                <div class="list2 clearfix">
                    <div class="swiper-container1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <ul>
                                    <li class="fl clearfix">
                                        <a href="#">
                                            <div class="img fl"><img src="/home/images/index/05.png" alt=""></div>
                                            <div class="notes fl">
                                                <div class="title">党员风采</div>
                                                <div class="content">党员先进事迹</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="#">
                                            <div class="img fl"><img src="/home/images/index/06.png" alt=""></div>
                                            <div class="notes fl">
                                                <div class="title">志愿服务</div>
                                                <div class="content">爱心行动</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="#">
                                            <div class="img fl"><img src="/home/images/index/07.png" alt=""></div>
                                            <div class="notes fl">
                                                <div class="title">红色珍藏</div>
                                                <div class="content">点亮红色记忆</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="#">
                                            <div class="img fl"><img src="/home/images/index/08.png" alt=""></div>
                                            <div class="notes fl">
                                                <div class="title">红领学院</div>
                                                <div class="content">红领带动 </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h1"></div>
                <div class="newsLists">
                    <a href="/home/learn/video.html" class="list clearfix" data-type="new">
                        <div class="fl">
                            <img src="/home/images/common/1.png" alt="图片">
                            <span class="type">两学一做</span>
                        </div>
                        <div class="fr right">
                            <div class="title limit_">新闻标题</div>
                            <div class="clearfix time">
                                <span class="fr">2017-11-01</span>
                                <span class="fl">标题区域</span>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;" class="list clearfix" data-type="new">
                        <div class="fl">
                            <img src="/home/images/common/1.png" alt="图片">
                            <span class="type">两学一做</span>
                        </div>
                        <div class="fr right">
                            <div class="title limit_">新闻标题</div>
                            <div class="clearfix time">
                                <span class="fr">2017-11-01</span>
                                <span class="fl">标题区域</span>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;" class="list clearfix" data-type="new">
                        <div class="fl">
                            <img src="/home/images/common/1.png" alt="图片">
                            <span class="type">两学一做</span>
                        </div>
                        <div class="fr right">
                            <div class="title limit_">新闻标题</div>
                            <div class="clearfix time">
                                <span class="fr">2017-11-01</span>
                                <span class="fl">标题区域</span>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;" class="list clearfix" data-type="new">
                        <div class="fl">
                            <img src="/home/images/common/1.png" alt="图片">
                            <span class="type">两学一做</span>
                        </div>
                        <div class="fr right">
                            <div class="title limit_">新闻标题</div>
                            <div class="clearfix time">
                                <span class="fr">2017-11-01</span>
                                <span class="fl">标题区域</span>
                            </div>
                        </div>
                    </a>
                    <a href="/home/organization/noticedetail.html" class="list clearfix" data-type="notice">
                        <div class="fl">
                            <img src="/home/images/common/1.png" alt="图片">
                            <span class="type">组织建设</span>
                        </div>
                        <div class="fr right">
                            <div class="title limit_">建设标题</div>
                            <div class="clearfix time">
                                <span class="fr">2017-11-01</span>
                                <span class="fl">标题区域</span>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;" class="list clearfix" data-type="notice">
                        <div class="fl">
                            <img src="/home/images/common/1.png" alt="图片">
                            <span class="type">组织建设</span>
                        </div>
                        <div class="fr right">
                            <div class="title limit_">建设标题</div>
                            <div class="clearfix time">
                                <span class="fr">2017-11-01</span>
                                <span class="fl">标题区域</span>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;" class="list clearfix" data-type="notice">
                        <div class="fl">
                            <img src="/home/images/common/1.png" alt="图片">
                            <span class="type">组织建设</span>
                        </div>
                        <div class="fr right">
                            <div class="title limit_">建设标题</div>
                            <div class="clearfix time">
                                <span class="fr">2017-11-01</span>
                                <span class="fl">标题区域</span>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;" class="list clearfix" data-type="notice">
                        <div class="fl">
                            <img src="/home/images/common/1.png" alt="图片">
                            <span class="type">组织建设</span>
                        </div>
                        <div class="fr right">
                            <div class="title limit_">建设标题</div>
                            <div class="clearfix time">
                                <span class="fr">2017-11-01</span>
                                <span class="fl">标题区域</span>
                            </div>
                        </div>
                    </a>
                    <a href="/home/profile/detail.html" class="list clearfix" data-type="news">
                        <div class="fl">
                            <img src="/home/images/common/1.png" alt="图片">
                            <span class="type">小镇概况</span>
                        </div>
                        <div class="fr right">
                            <div class="title limit_">建设标题</div>
                            <div class="clearfix time">
                                <span class="fr">2017-11-01</span>
                                <span class="fl">标题区域</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    var mySwiper1 = new Swiper('.swiper-container1');
    var mySwiper2 = new Swiper('.swiper-container2');


    window.onload = function () {
        if ($(".newsLists a").length < 7) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    };
    mui.init({
        pullRefresh : {
            container: "#refreshContainer",
            up : {
                contentrefresh: '正在加载...',
                callback : loadScroll
            }
        }
    });
    function loadScroll() {
        var len=[];
        len[0] = $('[data-type = learn]').length;
        len[1] = $('[data-type = notice]').length;
        len[2] = $('[data-type = news]').length;
        $.ajax({
            type: "post",
//            url: ,
            data: {
                length: JSON.stringify(len)
            },
            beforeSend: function(XMLHttpRequest){
            },
            success:function(data){
                addCourse(data);
                if(data.code == 1){
                    var dataLen =data.data.length;
                    if(data.data.length == 7){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }
    function addCourse(data) {
        for(var key in data){
            var html = '';
            var lists = data[key];
            var len = lists.length;
            var href ='';  // 跳转链接
            var name = '';  // 对应的模块名称
            for(var i = 0; i< len;i++){
                var list = lists[i];
                if(list['genre'] == 'learn'){
                    name = '两学一做';
                    href = '/home/learn/video?id='+list['id'];
                }else if(list['genre'] == 'notice'){
                    name = '组织建设';
                    href = '/home/organization/noticedetail?id='+list['id'];
                }else{
                    name = '小镇概况';
                    href = '/home/profile/detail?id='+list['id'];
                }
                html +=
                        '<a href="'+href+'" class="list clearfix" data-type ="'+list['genre']+'">'+
                        '<div class="fl">'+
                        '<img src="'+list['front_cover']+'" alt="图片">'+
                        '<span class="type">'+name+'</span>'+
                        '</div>'+
                        '<div class="fr right">'+
                        '<div class="title limit_">'+list.title+'</div>'+
                        '<div class="clearfix time">'+
                        '<span class="fr">'+list.time+'</span>'+
                        '<span class="fl">'+list.publisher+'</span>'+
                        '</div>'+
                        '</div>'+
                        '</a>'
            }
            $(".newsLists" ).append(html);
        }
    }
</script>

{/block}