{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/index/index.css">
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="mui-slider-group">
            <div class="banner"><img src="/home/images/index/banner1.png" alt=""></div>
            <div class="main">
                <div class="list1 clearfix">
                    <div class="swiper-container1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <ul>
                                    <li class="fl clearfix">
                                        <a href="/home/structure/index.html">
                                            <div class="img"><img src="/home/images/index/01.png" alt=""></div>
                                            <div class="title">云上组织</div>
                                            <div class="content">党组织架构</div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="/home/profile/index.html">
                                            <div class="img"><img src="/home/images/index/02.png" alt=""></div>
                                            <div class="title">小镇概况</div>
                                            <div class="content">和孚镇简介</div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="/home/learn/index.html">
                                            <div class="img"><img src="/home/images/index/03.png" alt=""></div>
                                            <div class="title">两学一做</div>
                                            <div class="content">“学”与“做”</div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="/home/organization/index.html">
                                            <div class="img"><img src="/home/images/index/04.png" alt=""></div>
                                            <div class="title">组织建设</div>
                                            <div class="content">生活与学习</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner1"><img src="/home/images/index/banner2.png" alt=""></div>
                <div class="list2 clearfix">
                    <div class="swiper-container1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <ul>
                                    <li class="fl clearfix">
                                        <a href="/home/style/index.html">
                                            <div class="img fl"><img src="/home/images/index/05.png" alt=""></div>
                                            <div class="notes fl">
                                                <div class="title">党员风采</div>
                                                <div class="content">党员先进事迹</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="/home/volunteer/index.html">
                                            <div class="img fl"><img src="/home/images/index/06.png" alt=""></div>
                                            <div class="notes fl">
                                                <div class="title">志愿服务</div>
                                                <div class="content">爱心行动</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="/home/redcollection/index/c/1.html">
                                            <div class="img fl"><img src="/home/images/index/07.png" alt=""></div>
                                            <div class="notes fl">
                                                <div class="title">红色珍藏</div>
                                                <div class="content">点亮红色记忆</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="fl clearfix">
                                        <a href="javascript:;">
                                            <div class="img fl"><img src="/home/images/index/08.png" alt=""></div>
                                            <div class="notes fl">
                                                <div class="title">红领学院</div>
                                                <div class="content">红领带动 </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h1"></div>
                <div class="newsLists">
                    {volist name="list" id="vo"}
                    {if condition="$vo.class eq 1"}
                        {eq name="$vo.type" value="2"}
                        <a href="{:Url('Learn/article?id='.$vo['id'])}" class="list clearfix" data-type="两学一做">
                        {else/}
                        <a href="{:Url('Learn/video?id='.$vo['id'])}" class="list clearfix" data-type="两学一做">
                        {/eq}
                    {elseif condition="$vo.class eq 2"}
                        {in name="$vo.type" value="2,3,5"}
                        <a href="{:Url('Organization/meetingdetail?id='.$vo['id'])}" class="list clearfix" data-type="组织建设">
                        {else/}
                        <a href="{:Url('Organization/noticedetail?id='.$vo['id'])}" class="list clearfix" data-type="组织建设">
                        {/in}
                    {else/}
                    <a href="{:Url('Volunteer/detail?id='.$vo['id'])}" class="list clearfix" data-type="志愿服务">
                    {/if}
                        <div class="fl">
                            <img src="{$vo.front_cover|get_cover='path'}" alt="图片">
                            <span class="type">{$vo.class_name}</span>
                        </div>
                        <div class="fr right">
                            <div class="title limit_">{$vo.title}</div>
                            <div class="clearfix time">
                                <span class="fr">{$vo.create_time|time_format='Y-m-d'}</span>
                                <span class="fl">{$vo.publisher}</span>
                            </div>
                        </div>
                    </a>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    $(function () {
        isOut();
    });
//    var mySwiper1 = new Swiper('.swiper-container1');
//    var mySwiper2 = new Swiper('.swiper-container2');


    window.onload = function () {
        if ($(".newsLists a").length < 9) {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        } else {
            mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
        }
    };
    mui.init({
        pullRefresh : {
            container: "#refreshContainer",
            up : {
                contentrefresh: '正在加载...',
                callback : loadScroll
            }
        }
    });
    
    // 加载更多
    function loadScroll() {
        var p1 = $('[data-type = "两学一做"]').length;
        var p2 = $('[data-type = "组织建设"]').length;
        var p3 = $('[data-type = "志愿服务"]').length;
        var len = $(".newsLists a").length;
        $.ajax({
            type: "post",
            url: "{:Url('Index/more')}",
            data: {
                length: len,
                p1: p1,
                p2: p2,
                p3: p3
            },
            beforeSend: function(XMLHttpRequest){
            },
            success:function(data){
                addCourse(data);
                if(data.code == 1){
                    var dataLen =data.data.length;
                    if(dataLen == 9){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }
    function addCourse(data) {
        var html = '';
        var lists = data.data;
        var len = lists.length;
        var href ='';  // 跳转链接
        var name = '';  // 对应的模块名称
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(list.class_name == '两学一做'){
                if (list == 2) {
                    href = '/home/learn/article/id/'+list['id']+".html";
                }else {
                    href = '/home/learn/video/id/'+list['id']+".html";
                }
            }else if(list.class_name == '组织建设'){
                if (list.type == 2 || list.type == 3 || list.type == 5) {
                    href = '/home/organization/meetingdetail/id/'+list['id']+".html";
                }else {
                    href = '/home/organization/noticedetail/id/'+list['id']+".html";
                }
            }else{
                href = '/home/volunteer/detail/id/'+list['id']+".html";
            }
            html +=
                    '<a href="'+href+'" class="list clearfix" data-type ="'+list.class_name+'">'+
                    '<div class="fl">'+
                    '<img src="'+list.path+'" alt="图片">'+
                    '<span class="type">'+list.class_name+'</span>'+
                    '</div>'+
                    '<div class="fr right">'+
                    '<div class="title limit_">'+list.title+'</div>'+
                    '<div class="clearfix time">'+
                    '<span class="fr">'+list.time+'</span>'+
                    '<span class="fl">'+list.publisher+'</span>'+
                    '</div>'+
                    '</div>'+
                    '</a>';
        }
        $(".newsLists" ).append(html);
    }
    mui("#refreshContainer").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });

    mui("#refreshContainer").on("tap","a",function(){
        var url = this.getAttribute("href");
        window.location.href = url;
    });

    //退出清理tab缓存
    function isOut(){
        pushHistory();
        setTimeout(function(){
            window.addEventListener("popstate", function(e) {
                delCookie("type");
                window.location.href = "/home/index/index.html";
                return false;
            }, false);
        },200)
    }
    //防止恶意刷新
    function pushHistory(){
        var sta = {
            title: "title"
        };
        if( window.history.state === null )
        {
            window.history.pushState( sta, "title" );
        }
    }
    function setCookie(name,value){
        var Days = 30;
        var exp = new Date();
        exp.setTime(exp.getTime() + Days*24*60*60*1000);
        document.cookie = name + "="+ value + ";expires=" + exp.toGMTString();
    }
    function getCookie(name){
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
            return arr[2];
        else
            return null;
    }
    function delCookie(name){
        var exp = new Date();
        exp.setTime(exp.getTime() - 1);
        var cval=getCookie(name);
        if(cval!=null)
            document.cookie= name + "="+cval+";expires="+exp.toGMTString();
    }

</script>

{/block}