{extend name="public/common"}

{block name="style"}
<title>先进实际</title>
<link rel="stylesheet" href="/home/css/pioneer/detail.css">
{/block}
{block name="body"}
<div class="banner">
	<div class="fl">
		<div class="img">
			<img src="{$detail.front_cover|get_cover='path'}" alt="">
		</div>
	</div>
	<div class="fr">
		<div class="name">{$detail.name}</div>
		<div class="content"><div>{$detail.introduction}</div></div>
	</div>
</div>
<div class="main">
	<div class="list">
		<div class="title"><p>个人档案</p></div>
		<div class="cont">{$detail.document}</div>
	</div>
	<div class="list">
		<div class="title"><p>先进事迹</p></div>
		<div class="cont">{$detail.content}</div>
	</div>
</div>

{/block}

{block name="script"}
<script>
	$(function () {
		$("title").text("党员风采");
		if ($(window).width() >= 768) {
		    $(".banner .fr .content div").css("-webkit-line-clamp","5");
		}else {
			$(".banner .fr .content div").css("-webkit-line-clamp","3");
		}
	});
</script>

{/block}