/* banner*/
.banner {
    width: 100vw;
    height: 50vw;
    background: url("/home/images/banner/05.png") no-repeat;
    background-size: 100vw 50vw;
}
.banner>div {
    width: 50vw;
    height: 100%;
    text-align: center;
}
.banner .fl .img {
    width: 30vw;
    height: 30vw;
    border: 1.6vw solid rgba(255,255,255,.3);
    border-radius: 100%;
    margin: 10vw auto;
}
.banner .fl img {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 100%;
}
.banner .fr {
    width: 40vw;
    margin-right: 10vw;
}
.banner .fr .name {
    padding: .8vw 6.8vw;
    color: #fff;
    background-color: sandybrown;
    font-size: .42rem;
    text-align: center;
    margin: 10vw auto 2px;
    display: inline-block;
    border-radius: 5vw;
}
.banner .fr .content {
    width: 40vw;
    padding: 2vw 3vw;
    color: #333;
    font-size: .37rem;
    background-color: #f1f1f1;
    height: 22vw;
    border-radius: 2.7vw;
    text-align: left;
}
.banner .fr .content div {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
/* main*/
.list .title {
    border-bottom: 1px solid #d9d9d9;
}
.list .title p {
    display: inline-block;
    border-bottom: 1px solid red;
    color: red;
    font-size: .42rem;
    width: 26vw;
    padding: 1.2vw 0 1.2vw 3vw;
}
.list:nth-of-type(2n) .title p {
    border-bottom: 1px solid sandybrown;
    color: sandybrown;
}
.list .cont {
    width: 94vw;
    margin: 2.7vw auto;
    padding: 2vw;
    font-size: .42vw;
    color: #333;
    border: 1px solid orange;
    border-radius: 2.7vw;
    box-shadow: 0 0 0 orange;
    line-height: 6vw;
}
.list .cont p {
    color: #666;
}
.list:last-of-type .cont {
    padding-bottom: 5.4vw;
}