{extend name="public/common"}

{block name="style"}
<title>先进实际</title>
<link rel="stylesheet" href="/home/css/pioneer/detail.css">

{/block}
{block name="body"}
<div class="banner">
	<div class="fl">
		<div class="img">
			<img src="/home/images/common/1.jpg" alt="">
		</div>
	</div>
	<div class="fr">
		<div class="name">姓名区</div>
		<div class="content"><div>内容区-三行溢出</div></div>
	</div>
</div>
<div class="main">
	<div class="list">
		<div class="title"><p>个人档案</p></div>
		<div class="cont">这里是个人档案的内容区域</div>
	</div>
	<div class="list">
		<div class="title"><p>先进事迹</p></div>
		<div class="cont">这里是先进事迹的内容区域</div>
	</div>
</div>

{/block}

{block name="script"}

{/block}