{extend name="public/common"}

{block name="style"}
<title>团队介绍</title>
<link rel="stylesheet" href="/home/css/volunteer/index.css">

{/block}
{block name="body"}
    <div class="banner"><img src="/home/images/banner/1.jpg" alt=""></div>
    <div class="main">
        <div class="title">平安维稳队</div>
        <div class="content">
            <p>和浮镇位于湖州南郊，属湖州市南浔区管辖，面积95平方公里，截至2004年，人口5.7万人。和浮镇东临龙头山，南濒和孚漾，西依龙溪港，湖山相映，具有江南水乡平原难得的自然环境优势，素有“丝绸之府、鱼米之乡”之美誉。</p>
            <p>地理位置优越，交通便利。南距杭州80公里，东接上海150公里，北临318国道，东接320国道，湖盐公路、菱湖公路，黄金水道、杭、锡航线穿镇而过。长湖申线航道、申嘉湖高速公路、乍湖铁路均经过城镇。</p>
        </div>
        <div class="btn">
            <a href="/home/volunteer/recruit.html">
                <span>团&nbsp;&nbsp;队</span>
                <span>风&nbsp;&nbsp;采</span>
            </a>
        </div>
    </div>
{/block}

{block name="script"}

{/block}