{extend name="public/common"}

{block name="style"}
<title>团队介绍</title>
<link rel="stylesheet" href="/home/css/volunteer/index.css">

{/block}
{block name="body"}
    <div class="banner"><img src="/home/images/banner/06.png" alt=""></div>
    <div class="main">
        <div class="lists">
            {volist name="list" id="vo"}
            <div class="list color1">
                <a href="{:Url('Volunteer/team?id='.$vo['id'])}">
                    <div class="img"><img src="{$vo.front_cover|get_cover='path'}" alt=""></div>
                    <div class="name">{$vo.name}</div>
                    <div class="notes">活动：<span>{$vo.times}</span>次</div>
                </a>
            </div>
            {/volist}
        </div>
    </div>
{/block}

{block name="script"}

{/block}