{extend name="public/common"}

{block name="style"}
<title>团队介绍</title>
<link rel="stylesheet" href="/home/css/volunteer/index.css">

{/block}
{block name="body"}
    <div class="banner"><img src="/home/images/banner/06.png" alt=""></div>
    <div class="main">
        <div class="lists">
            <div class="list color1">
                <a href="/home/volunteer/team.html">
                    <div class="img"><img src="/home/images/common/1.jpg" alt=""></div>
                    <div class="name">平安巡查队</div>
                    <div class="notes">活动：<span>265</span>次</div>
                </a>
            </div>
            <div class="list color2">
                <a href="/home/volunteer/team.html">
                    <div class="img"><img src="/home/images/common/1.jpg" alt=""></div>
                    <div class="name">平安巡查队</div>
                    <div class="notes">活动：<span>265</span>次</div>
                </a>
            </div>
            <div class="list color3">
                <a href="/home/volunteer/team.html">
                    <div class="img"><img src="/home/images/common/1.jpg" alt=""></div>
                    <div class="name">平安巡查队</div>
                    <div class="notes">活动：<span>265</span>次</div>
                </a>
            </div>
        </div>
    </div>
{/block}

{block name="script"}

{/block}