{extend name="public/common"}

{block name="style"}
<title></title>
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/volunteer/recruit.css">
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="mui-slider-group">
            <div class="banners">
                <div class="swiper-container">
                    <div class="imgs swiper-wrapper">
                        {volist name="list.top" id="vo1"}
                        <div class="banner swiper-slide">
                            <a href="{:Url('Volunteer/detail?id='.$vo1['id'])}">
                                <img src="{$vo1.front_cover|get_cover='path'}" alt="">
                                <div class="title_ limit">{$vo1.title}</div>
                            </a>
                        </div>
                        {/volist}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <!--新闻列表-->
            <div class="lists">
                {volist name="list.list" id="vo2"}
                <a class="list clear" href="{:Url('Volunteer/detail?id='.$vo2['id'])}">
                    <div class="fl">
                        <img src="{$vo2.front_cover|get_cover='path'}" alt="" style="width: 28.2vw;height: 18.8vw">
                    </div>
                    <div class="fr lr">
                        <div class="title limit_">{$vo2.title}</div>
                        <div class="clear">
                            <span class="fl">{$vo2.create_time|time_format='Y-m-d'}</span>
                            <span class="fr">详情</span>
                        </div>
                    </div>
                </a>
                {/volist}
            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        autoplay: 1500

    });
</script>
{/block}